@model IEnumerable<CommunityAssist.Models.GrantType>
@{
    ViewBag.Title = "Grant Types";
}

<h2>Grant Types</h2>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.GrantTypeName)</th>
            <th>@Html.DisplayNameFor(model => model.GrantTypeDescription)</th>
            <th>@Html.DisplayNameFor(model => model.GrantTypemaximum)</th>
            <th>@Html.DisplayNameFor(model => model.GrantTypeLifetimeMaximum)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.GrantTypeName)</td>
                <td>@Html.DisplayFor(model => item.GrantTypeDescription)</td>
                <td>@Html.DisplayFor(model => item.GrantTypemaximum)</td>
                <td>@Html.DisplayFor(model => item.GrantTypeLifetimeMaximum)</td>
            </tr>
        }
    </tbody>
</table>
